footer {
   @include width-100;
   height: auto;
   background: $dark;
   @include flex-center;
   padding: 30px;
 
   .imgLeft {
     width: 50%;
     @include flex-between;
     @include margin-auto;
     padding: 0 50px;

     img {
      width: 4%;
    }
   }
 
   p {
     width: 30%;
     color: $grey;
   }
 
   .imgLeft img:hover {
     @include cursor;
   }
 }