* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

body {
  @include max-width;
  background: $white;
  @include center-text;
  margin: auto;
}