#tabs {
  @include width-100;
  height: 600px;
  display: flex;
  padding-top: 100px;
  background: linear-gradient(to left, rgba(101, 149, 226, 0.65), rgba(226, 120, 101, 0.65)), url('../images/mountains.png');
  background-size: cover;
  color: white;
 
  .box-box {
    width: 10%;
    height: 350px;
    margin-left: 130px;

    .box {
      width: 120px;
      height: 120px;
      background: $orange;
      opacity: 0.5;
      font-size: 0.8em;
      margin-bottom: 30px;
      @include flex-center;
      transition: 0.3s;

      button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        transform: rotate(-45deg);
        background: transparent;
        border: none;
        color: $white;
        font-weight: bold;
        transition: 0.3s;
      }

      button:hover {
        opacity: 1;
        @include cursor;
        transform: scale(1.1) rotate(-45deg);
      }

      .selected {
        opacity: 1;
        transform: scale(1.1) rotate(-45deg);
      }
    }

    .box:hover{
      opacity: 1;
      @include cursor;
      transform: scale(1.1);
    }
  }
   
  .tab-link {
    width: 80%;

    .bendras {
      display: flex;

      .text {
        width: 45%;
        height: 350px;
        text-align: justify;
    
        h2 {
          padding: 30px;
          font-size: 2em;
        }
    
        p {
          color: $white;
          padding: 0 30px;
          opacity: 0.8;
        }
      }
    
      .img-box {
        width: 45%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    
        .image {
          max-width: 200px;
          opacity: 1;
          display: block;
          @include width-100;
          height: auto;
          transition: 0.5s ease;
          backface-visibility: hidden;
    
          img {
            @include width-100;
          }
        }
  
        .image2 {
          width: 400px;
          height: 200px;
  
          img {
            @include width-100;
          }
        }

        .image3 {
          width: 100%;
          height: auto;
          background-size: cover;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}