#tabs {
   width: 100%;
   height: 600px;
   display: flex;
   padding-top: 100px;
   background: linear-gradient(to left, rgba(101, 149, 226, 0.65), rgba(226, 120, 101, 0.65)), url('../images/mountains.png');
   background-size: cover;
   color: white;
 
   .box-box {
     width: 10%;
     height: 350px;
     margin-left: 150px;
 
     .box {
       width: 120px;
       height: 120px;
       background: $orange;
       opacity: 0.5;
       font-size: 0.8em;
       margin-bottom: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: 0.5s;

       h3 {
        text-transform: uppercase;
        transform: rotate(-45deg);
       }
     }

     .box:hover{
      opacity: 1;
      cursor: pointer;
     }
   }
 
   .text {
     width: 40%;
     height: 350px;
     text-align: justify;
 
     h2 {
       padding: 30px;
       font-size: 2em;
     }
 
     p {
       color: $white;
       padding: 0 30px;
       opacity: 0.8;
     }
   }
 
   .img-box {
      width: 35%;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      margin-top: 0;
      position: relative;
 
     .image {
      max-width: 200px;
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden;
 
       img {
         width: 100%
       }
     }

     .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background: $orange;
      width: 100%;
      height: 100%;
      
     }

     .image2 {
      width: 400px;
      height: 200px;

      img {
        width: 100%;
      }
     }
   }
   .img-box:hover .image {
    opacity: 0.3;
   }

   .img-box:hover .middle {
    opacity: 1;
   }
 }